apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: {{ .Values.namespace }}
  labels:
    app: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
        - name: external-dns
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --source=service
            - --source=ingress
            - --domain-filter={{ .Values.domainFilter }}
            - --provider=aws
            - --policy=upsert-only
            - --aws-zone-type=public
            - --registry=txt
            - --txt-owner-id={{ .Values.txtOwnerId }}
            - --log-level=info
          env:
            - name: AWS_DEFAULT_REGION
              value: {{ .Values.awsRegion }}
