apiVersion: v1
kind: Service
metadata:
  name: frontendchart
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "frontend-illuminati.labels" . | nindent 4 }}
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "frontend-illuminati.selectorLabels" . | nindent 4 }}
