apiVersion: v1
kind: Service
metadata:
  name: votingchart
  labels: { { - include "voting-illuminati.labels" . | nindent 4 } }
spec:
  type: { { .Values.service.type } }
  ports:
    - port: { { .Values.service.port } }
      targetPort: http
      protocol: TCP
      name: http
  selector: { { - include "voting-illuminati.selectorLabels" . | nindent 4 } }
