name: Linters and Formatters

on:
  push:

  workflow_dispatch:

jobs:
  Pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          else
            echo "You should add requirements.txt if there is python code"
          fi

      - name: Run Pylint
        run: |
          files=$(git ls-files '*.py')
          if [ -n "$files" ]; then
            pylint $files --fail-under=6.0
          else
            echo "No Python files"
          fi

  shellCheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        continue-on-error: true
        with:
          check_together: "yes"
          severity: error
          format: gcc
        env:
          SHELLCHECK_OPTS: -s bash

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install Prettier
        run: npm install prettier

      - name: Run Prettier and make changes
        run: npx prettier . --check
